## Final report preparation

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Changing the format of the values visualization

pd.options.display.float_format = '{:.2f}'.format

# Reseting the maximum number of columns to display to default (all columns)

pd.set_option('display.max_columns', None)

In [2]:
# Defining the data access path

path = r'C:\Users\efens\cf_tasks\2023-07 Instacard Basket Analysis'

#### 01. Importing data

In [3]:
# Importing raw data

orders_origin = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'orders.csv'))

In [4]:
order_products_origin = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'order_products__prior.csv'))

In [5]:
prods_origin = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'products.csv'))

In [6]:
customers_origin = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'customers.csv'))

In [8]:
depart_origin = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'departments.csv'))

In [17]:
# importing updated data 

ords_prods_merge_agg = pd.read_pickle(os.path.join(path, '02 Data', '022 Prepared Data', 'ords_prods_merge_agg.pkl'))

In [18]:
profiling_data_filtered = pd.read_pickle(os.path.join(path, '02 Data', '022 Prepared Data', 'profiling_data_filtered.pkl'))

#### 02. Calculating population flow

In [11]:
orders_origin.shape

(3421083, 7)

In [12]:
order_products_origin.shape

(32434489, 4)

In [13]:
prods_origin.shape

(49693, 5)

In [14]:
customers_origin.shape

(206209, 10)

In [15]:
depart_origin.shape

(1, 22)

In [16]:
ords_prods_merge_agg.shape

(32404859, 24)

In [19]:
profiling_data_filtered.shape

(30166708, 36)

#### 03. Exploring data

In [20]:
profiling_data_filtered.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spenders,median_days,frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,_merge,region,activity_flag,age_group,profile,department
0,2539329,1,1,2,8,7.00,196,1,0,Soda,77,7,9.00,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,3_South,high-activity customer,25-40,Married With Children,beverages
1,2398795,1,2,3,7,15.00,196,1,1,Soda,77,7,9.00,Mid-range product,Regularly busy,Least busiest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,3_South,high-activity customer,25-40,Married With Children,beverages
2,473747,1,3,3,12,21.00,196,1,1,Soda,77,7,9.00,Mid-range product,Regularly busy,Least busiest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,3_South,high-activity customer,25-40,Married With Children,beverages
3,2254736,1,4,4,7,29.00,196,1,1,Soda,77,7,9.00,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,3_South,high-activity customer,25-40,Married With Children,beverages
4,431534,1,5,4,15,28.00,196,1,1,Soda,77,7,9.00,Mid-range product,Least busy,Least busiest days,Most orders,10,New customer,6.37,Low spender,20.00,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,3_South,high-activity customer,25-40,Married With Children,beverages