# Data Consistency Checks

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\efens\cf_tasks\2023-07 Instacard Basket Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', '022 Prepared Data', 'orders_wrangled.csv'), index_col = False)

## 01. Data quality

In [4]:
## Dimensions
# reliability, accuracy, consistency, completeness, uniqueness, and timeliness

In [5]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
# Check percentile "orders_day_of_week"
# Range have to be 0-6 = 7 days a week

var_days = df_ords['orders_day_of_week']

print("50th percentile of orders_day_of_week : ",
       np.percentile(var_days, 50))
print("25th percentile of orders_day_of_week : ",
       np.percentile(var_days, 25))
print("75th percentile of orders_day_of_week : ",
       np.percentile(var_days, 75))

50th percentile of orders_day_of_week :  3.0
25th percentile of orders_day_of_week :  1.0
75th percentile of orders_day_of_week :  5.0

In [7]:
# Check percentile "order_hour_of_day"
# It have to be max 24 hours

var_hours = df_ords['order_hour_of_day']

print("50th percentile of order_hour_of_day : ",
       np.percentile(var_hours, 50))
print("25th percentile of order_hour_of_day : ",
       np.percentile(var_hours, 25))
print("75th percentile of order_hour_of_day : ",
       np.percentile(var_hours, 75))

50th percentile of order_hour_of_day :  13.0
25th percentile of order_hour_of_day :  10.0
75th percentile of order_hour_of_day :  16.0

In [8]:
# Check percentile "days_since_prior_order"
# It can't be negative

var_days_since = df_ords['days_since_prior_order']

print("50th percentile of days_since_prior_order : ",
       np.percentile(var_days_since, 50))
print("25th percentile of days_since_prior_order : ",
       np.percentile(var_days_since, 25))
print("75th percentile of days_since_prior_order : ",
       np.percentile(var_days_since, 75))

50th percentile of days_since_prior_order :  nan
25th percentile of days_since_prior_order :  nan
75th percentile of days_since_prior_order :  nan

In [9]:
# Check for missing values in the 'days_since_prior_order' column
missing_values = df_ords['days_since_prior_order'].isnull().sum()
missing_values

206209

In [10]:
## Issue: Missing values (206209) in the variable 'days_since_prior_order'

## 02. Mixed-Type Data

In [11]:
# mixed-type column is a column that includes both string values and numeric values

In [12]:
## Working with an created dataframe
#
# Creating a dataframe

df_test = pd.DataFrame()

In [14]:
# Creating a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [15]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [16]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [17]:
## Explanation
# for-loop > for this elements do this + loop describes how
# weird > new variable, which will take a boolean valeu of True or False
## Where
# True > column contains inconsistent data types
# False > contains only data type
## If
# if the conditions is met, do that
# Here: execute a line of code
## This code check all columns in the df for problematic and print their names

#### How to fix mix columns

In [18]:
df_test['mix'] = df_test['mix'].astype('str')

In [19]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

In [22]:
df_test['mix'].dtype

dtype('O')

## 03. Missing values

In [23]:
# Finding missing values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [24]:
df_prods.isnull()

       product_id  product_name  aisle_id  department_id  prices
0           False         False     False          False   False
1           False         False     False          False   False
2           False         False     False          False   False
3           False         False     False          False   False
4           False         False     False          False   False
...           ...           ...       ...            ...     ...
49688       False         False     False          False   False
49689       False         False     False          False   False
49690       False         False     False          False   False
49691       False         False     False          False   False
49692       False         False     False          False   False

[49693 rows x 5 columns]

In [25]:
# Creating a new df, which contains only missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [29]:
## Case with the non-string values:
# Check df
df_prods.shape

(49693, 5)

In [30]:
df_prods['product_name'].isnull().sum()

16

In [32]:
# Creating a new df without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [33]:
df_prods_clean.shape

(49677, 5)

In [ ]:
## Command to drop all missing values
# df_prods.dropna(inplace = True)
## Dropping only the NaNs from a particular column
# df_prods.dropna(subset = [‘product_name’], inplace = True)

## 04. Duplicates

In [35]:
## Finding duplicates
# Looking for full duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [36]:
df_prods_clean.shape

(49677, 5)

In [37]:
## Addressing Duplicates
# Deleting (pandas function)
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

## 05. Tidying Up and Exporting Changes

In [38]:
# Exporting to a new csv with the name products_checked.csv

In [39]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','022 Prepared Data', 'products_checked.csv'), header=True, index=False)

## 06. Testing

In [40]:
df_prods_test = pd.read_csv(os.path.join(path, '02 Data', '022 Prepared Data', 'products_checked.csv'), index_col = False)

In [42]:
# Checking for mix

for col in df_prods_test.columns:
  weird_test = (df_prods_test[[col]].applymap(type) != df_prods_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods_test[weird_test]) > 0:
    print (col)

In [43]:
# Checking for missing values

df_prods_test.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [45]:
# Checking for duplicates

df_dups_test = df_prods_test[df_prods_test.duplicated()]
df_dups_test

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

In [46]:
df_prods_test.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3