## Combining & Exporting Data

In [10]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 01. Methods for combining data

### Merging the Instacart Data

In [7]:
path = r'C:\Users\efens\cf_tasks\2023-07 Instacard Basket Analysis'

In [11]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', '022 Prepared Data', 'orders_checked.csv'), index_col = False)

In [12]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', '021 Original Data', 'order_products__prior.csv'), index_col = False)

In [13]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,7.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [16]:
df_ords_prior.shape

(32434489, 4)

In [17]:
df_ords.shape

(3421083, 7)

In [18]:
# Merging the dfs
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [19]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

--> Conclusion (full match here) is wrong

In [20]:
# Merging the dfs --> TEST
df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)
df_merged_large_outer['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

### Exporting Data in Pickle Format

In [21]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','022 Prepared Data', 'orders_products_combined.csv'))

In [23]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','022 Prepared Data', 'orders_products_combined.pkl'))

#### Testing:

In [27]:
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', '022 Prepared Data', 'orders_products_combined.pkl'))

In [28]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both