## Combining & Exporting Data

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
# Import the orders_products_combined

path = r'C:\Users\efens\cf_tasks\2023-07 Instacard Basket Analysis'
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', '022 Prepared Data', 'orders_products_combined.pkl'))
df_prods_check = pd.read_csv(os.path.join(path, '02 Data', '022 Prepared Data', 'products_checked.csv'), index_col = False)

## 01. Checking the shape

In [5]:
# Previous shape -> df_ords_prior.shape == (32434489, 4) & df_ords.shape == (3421083, 7)
df_ords_merged.shape

(32434489, 11)

## 02. Determine a way to combine with products data set

In [6]:
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [7]:
df_prods_check.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_check.shape

(49672, 5)

In [9]:
pd.options.display.float_format = '{:.2f}'.format
df_ords_merged['product_id'].describe()

count   32434489.00
mean       25576.34
std        14096.69
min            1.00
25%        13530.00
50%        25256.00
75%        37935.00
max        49688.00
Name: product_id, dtype: float64

In [10]:
df_prods_check['product_id'].describe()

count   49672.00
mean    24850.35
std     14340.71
min         1.00
25%     12432.75
50%     24850.50
75%     37268.25
max     49688.00
Name: product_id, dtype: float64

--> Both datasets have a common variable "product_id". This variable could be used to merge the data.

In [11]:
## Merging the data
# 1. Drop the "_merge" column (otherwise: ValueError: Cannot use name of an existing column for indicator column)
df_ords_merged = df_ords_merged.drop(columns = ['_merge'])
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,7.00,196,1,0
1,2539329,1,prior,1,2,8,7.00,14084,2,0
2,2539329,1,prior,1,2,8,7.00,12427,3,0
3,2539329,1,prior,1,2,8,7.00,26088,4,0
4,2539329,1,prior,1,2,8,7.00,26405,5,0

In [20]:
# 2. Merge the data sets
df_prods_ords_merged = df_ords_merged.merge(df_prods_check, on = 'product_id', indicator = True)

In [21]:
df_prods_ords_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,7.00,196,1,0,Soda,77,7,9.00,both
1,2398795,1,prior,2,3,7,15.00,196,1,1,Soda,77,7,9.00,both
2,473747,1,prior,3,3,12,21.00,196,1,1,Soda,77,7,9.00,both
3,2254736,1,prior,4,4,7,29.00,196,1,1,Soda,77,7,9.00,both
4,431534,1,prior,5,4,15,28.00,196,1,1,Soda,77,7,9.00,both

## 03. Confirming the results of the merge using the merge flag

In [14]:
df_prods_ords_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
# check the shape and compate to previous --> df_ords_merged.shape (32434489, 11) & df_prods_check.shape (49672, 5)

df_prods_ords_merged.shape

(32404859, 15)

In [23]:
df_merged_large_outer = df_ords_merged.merge(df_prods_check, on = 'product_id', how = 'outer', indicator = True)
df_merged_large_outer['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

## 04. Exporting in Pickle Format

In [16]:
# Export data to pkl

df_prods_ords_merged.to_pickle(os.path.join(path, '02 Data','022 Prepared Data', 'orders_products_merged.pkl'))

## 05. Testing

In [17]:
df_prods_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', '022 Prepared Data', 'orders_products_merged.pkl'))

In [18]:
df_prods_ords_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,7.00,196,1,0,Soda,77,7,9.00,both
1,2398795,1,prior,2,3,7,15.00,196,1,1,Soda,77,7,9.00,both
2,473747,1,prior,3,3,12,21.00,196,1,1,Soda,77,7,9.00,both
3,2254736,1,prior,4,4,7,29.00,196,1,1,Soda,77,7,9.00,both
4,431534,1,prior,5,4,15,28.00,196,1,1,Soda,77,7,9.00,both

In [19]:
df_prods_ords_merged.shape

(32404859, 15)